/* [class*='col'],
.col {
  min-height: 40px;
  background-color: #006cfa;
  border: 1px solid white;
  text-align: center;
  line-height: 40px;
  color: white;
} */

/*-------------
    TYPO
----------------*/
.header-text-align-left {
  text-align: left;
}
.header-text-align-right {
  text-align: right;
}
.padding-row {
  padding: 5px 0px;
}

/*-------------
    HEADER
----------------*/

/* header top  */

.logo {
  width: 40%;
}

header {
  background-color: #f3f3f3;
  padding: 10px 20px;
}

.flag {
  width: 15px;
  object-fit: contain;
  border-radius: 90%;
  border: 1px solid black;
}

.header-text-align-right a,
span {
  color: black;
  padding-left: 10px;
  vertical-align: middle;
}

/* header bottom  */

.search-box {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}

.search {
  display: inline-block;
  width: 90%;
  border: none;
  text-align: center;
  background-color: transparent;
}

.list-burger i {
  font-size: 24px;
  text-align: right;
  padding-left: 10px;
}
